{% extends "base.html" %}


{% block content %}

    <br>
   	<p> Notepad & terminal - test.</p>

    <div style="text-align:center">
        <form action="" method="post">
            {{ form.csrf_token() }}

            {{ form.notepad(rows='50',cols='100')}}
            {{ form.submit }}
            
        </form>
    </div>

    <div style="text-align:center">
        <div>
            <textarea class="content" rows='50' cols="100">{{output}}</textarea>
        </div>
    <div>

{% endblock %}