{% extends "base.html" %}


{% block content %}

    <br>
   	<p>terminal.</p>


    <div class="form-wrapper">

        <form  style="text-align:center" action="" method="post">
        
            {{ form.csrf_token() }}

            <p>
            {{ form.notepad.label() }}
            {{ form.notepad(rows='50',cols='100')}}
            </p>

            {{ form.submit }}

        </form>
    </div>

    <div>
        <!-- Niepotrzebny ten przycisk
            <button class="btn">Załaduj kontent z serwera</button>
            //-->
        <div>
            <p>Tutaj będzie wrzucony kontent z serwera:</p>
            <textarea class="content" cols="20">{{content_textarea}}</textarea>
        </div>
        <script src="{{url_for('static', filename='script.js')}}" type="application/javascript"></script>
    <div>

{% endblock %}


